---
const year = new Date().getFullYear();
---

<div class="flex flex-row pb-6 text-sm">
  <div class="flex-auto text-slate-600 dark:text-slate-400">
    {year} &copy; Daniel Nagel
  </div>
  <div class="flex-auto text-right">
    <a class="text-slate-600 dark:text-slate-400" href="https://github.com/braniii/braniii.github.io">
      &lt;source /&gt;
    </a>
  </div>
</div>
