{% extends "layout.html" %}

{% block content %}
<!-- About -->
<div class="mt-2 sm:mt-0 mb-6 sm:mb-12">
  <div>
    <div class="text-base text-gray-600 text-justify italic">
      <span class="inline-block">
	Hi there👋,
      </span>
      <span class="inline-block">
	I am a physics Ph.D. student in my final year at <a href="https://www.moldyn.uni-freiburg.de" target="_blank"><span class="text-greenish">Moldyn Freiburg</span></a>. In the field of analysing and modeling of MD protein simulation🧬🔬💻, my research focuses on Markov state modeling of fast folding peptides. Unlike most existing approaches, I focus not only on identifying metastable states, but also that they are of biochemical relevance.
      </span>
      <span class="inline-block">
	Otherwise, I am a big fan and advocate of open-source software. Besides a few scientific Python packages and C++ programs, I always try to challenge myself with other programming languages. Since 2018, I am the maintainer of <a href="https://xphnx.gitlab.io/ameixa/" target="_blank"><span class="text-greenish">ameixa</span></a> one of the most popular FOSS Android icon themes. My newest language is Dart/Flutter where I will soon release my first own app. So stay tuned.
    </span>
    </div>
  </div>
</div>

<!-- Projects -->
<div class="my-6">
  <div class="flex my-6 justify-center">
    <span class="text-xl font-medium uppercase">publications 📚</span>
  </div>
  <div>
    {% for at in articles %}
    <div class="px-4 py-3 my-3 border-l-4 border-greenish rounded-sm shadow-md hover:shadow-inner bg-gray-100 transition-shadow duration-300 rounded-r-xl">
      <span class="text-sm">{{ at.authors }}, <a href="{{ at.url }}" target="_blank"><span class="text-greenish italic">{{ at.title }}</span></a>, {{ at.journal }}, {{ at.year }}
      </span>
    </div>
    {% endfor %}
  </div>

  <div class="flex my-6 justify-center">
    <span class="text-xl font-medium uppercase">software 💿</span>
  </div>
  <div>
    {% for sw in software %}
    <div class="flex flex-col px-4 py-3 my-3 border-l-4 border-greenish rounded-sm shadow-md hover:shadow-inner bg-gray-100 transition-shadow duration-300 rounded-r-xl">
      <div class="flex mb-2">
        <a class="flex items-center" href="{{ sw.url }}" target="_blank">
          <span class="text-sm">{{ sw.title }}</span>
          <div class="w-3.5 h-3.5 ml-1.5 text-greenish">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
              <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg>
          </div>
          <span class="text-sm text-gray-600 ml-1.5 italic">#{{ sw.contribution }}</span>
        </a>
      </div>
      <div class="flex text-sm text-gray-600">
        <span>{{ sw.description }}</span>
      </div>
      <div class="flex text-sm text-greenish">
        <span>{{ sw.hashtag }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
