<!DOCTYPE html>
<html>

<head>
  <title>Daniel Nagel</title>
  <link href="/static/index.css" rel="stylesheet" type="text/css" media="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="bg-white min-w-screen min-h-screen sm:py-6">
  <div class="flex w-full min-h-screen items-start sm:items-center justify-center">
    <div class="sm:pt-60">
      <div class="w-full max-w-2xl px-6 mx-auto my-auto h-auto">
        {% include "header.html" %}
        {% block content %}
        {% endblock %}
        {% include "footer.html" %}
      </div>
    </div>
</div>
</body>

</html>
