/**
 * Do not include this in the HTML. This is pre-processed CSS, and our
 * postprocessor will output a processed version to /static/index.css.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.gh-wrapper {
  width: 1.09rem;
  height: 1.25rem;
  padding: 0.08rem 0;
}
